.card {
  background-color: var(--color-bg-accent);
  border: 4px solid var(--color-bg-accent);
  color: var(--color-text);
  padding: var(--space-s-m);
  border-radius: var(--border-radius);
  max-inline-size: unset;
}

.pixelcard {
  display: block;
		flex-direction: column;
    align-items: center;
    background-color: #202020;
    border-radius: 1%;
		/* gap: var(--default-spacing);
		grid-template-columns: repeat(4, minmax(0, 1fr));
		gap: var(--default-spacing-half);  */

		/* > * {
			aspect-ratio: 2 / 3;
		} */

		/* &[square] > * {
			aspect-ratio: 1;
		} */

		@media screen and (max-width: 499px) {
			grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

.pixelitems {
  display: flex;
    padding: 10px;
		flex-direction: row;
		align-items:baseline  ;
		grid-template-columns: repeat(4, minmax(0, 1fr));
		/* gap: var(--default-spacing); */
}

.card ::selection {
  color: var(--color-dark);
  background-color: var(--color-secondary);
}

.card h2,
.card h3 {
  font-family: var(--font-base);
  font-size: var(--size-step-2);
}

.card h2 a,
.card h3 a {
  text-decoration: none;
}

.card:hover,
.card:focus-within {
  border: 4px solid var(--color-primary);
}

/* 'clickable' */

.card:focus-within a:focus {
  outline: none;
}
.card {
  position: relative;
}
.card a:after {
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.blogcards {
  --gutter: var(--space-l);
}
