---
layout: base
masonry: true
---

<div class="wrapper">
  <header class="full | section" style="--spot-color: var(--color-primary)">
    <!-- <div class="section__inner flow region">
      <h1 class="text-center text-base-light">{{ title }}</h1>
    </div> -->
    <!-- {% include 'svg/divider-waves.svg' %} -->
  </header>
 
  <article class="full | region">
    <div class="wrapper flow prose">{{ content | safe }}</div>
  </article>

</div>