---
title: 'Images from the garden clear-out today'
description: 'Some pictures of plants coming back to life in the garden today.'
date: 2024-03-17T22:06:13.45Z
gallery:
  - image: ./src/posts/img/Thalictrum 'Black Stockings'.jpg
    alt: 'Thalictrum plant showing its leaves against a white-painted brick wall'
    caption: 'A Thalictrum (Black Stockings) plant with early Spring folidage.'
  - image: ./src/posts/img/Berberis 'Admiration'.jpg
    alt: 'Berberis plant in a container against a white-painted brick wall'
    caption: 'A Berberis (Admiration) plant in a container.'
  - image: ./src/posts/img/Dicentra alba.jpg
    alt: "A dicentra plant with white flowers in the sunshine against a white-painted brick wall"
    caption: 'A Dicentra alba (Lady in the Bath) in the sunshine showing white flowers.'
  - image: ./src/posts/img/Verbena bonariensis.jpg
    alt: 'Close-up of a Verbena plant putting out new leaves in a terracotta pot in front of a white-painted brick wall.'
    caption: 'New growth on a Verbena plant in a terracotta pot.'
  - image: ./src/posts/img/Hydrangea macrophylla 'Dark Angel'.jpg
    alt: 'Close-up of a dark purple and green-leafed Hydrangea plant'
    caption: 'Beautiful leaves on a Dark Angel Hydrangea plant glistening in the sunlight.'
tags:
  - photos
  - flowers
---

{% include "components/gallery.njk" %}